<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>Items</key>
		<array>
			<dict>
				<key>Identifier</key>
				<string>MeHeaderCell</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>Items</key>
		<array>
			<dict>
				<key>Identifier</key>
				<string>MeDetailCell</string>
				<key>Title</key>
				<string>Email</string>
				<key>Detail</key>
				<string>kolenc.gasper@gmail.com</string>
			</dict>
			<dict>
				<key>Identifier</key>
				<string>MeDetailCell</string>
				<key>Title</key>
				<string>Phone</string>
				<key>Detail</key>
				<string>+49 179 3196821</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>Items</key>
		<array>
			<dict>
				<key>Identifier</key>
				<string>MeDetailCell</string>
				<key>Title</key>
				<string>Born</string>
				<key>Detail</key>
				<string>06/28/1991</string>
			</dict>
			<dict>
				<key>Identifier</key>
				<string>MeDetailCell</string>
				<key>Title</key>
				<string>Nationality</string>
				<key>Detail</key>
				<string>Slovenian</string>
			</dict>
		</array>
		<key>Title</key>
		<string>Personal Details</string>
	</dict>
	<dict>
		<key>Items</key>
		<array>
			<dict>
				<key>Identifier</key>
				<string>MeDescriptionCell</string>
				<key>Text</key>
				<string>iOS Software Engineer with over 4 years of experience in iOS development and have thus far succesfully released 10+ applications. Was awarded an Apple WWDC Student Scholarship for two consecutive years, in 2013 and 2014, as one of the best young iOS developers worldwide. An effective and positive team player known for contributing effective creative solutions.</string>
			</dict>
		</array>
		<key>Title</key>
		<string>Summary</string>
	</dict>
	<dict>
		<key>Items</key>
		<array>
			<dict>
				<key>Identifier</key>
				<string>MeDetailCell</string>
				<key>Title</key>
				<string>2015</string>
				<key>Detail</key>
				<string>Faculty of Computer and Information Science, University of Ljubljana</string>
			</dict>
			<dict>
				<key>Identifier</key>
				<string>MeDetailCell</string>
				<key>Title</key>
				<string>2010</string>
				<key>Detail</key>
				<string>Bežigrad Gymnasium, Slovenia</string>
			</dict>
		</array>
		<key>Title</key>
		<string>Education</string>
	</dict>
	<dict>
		<key>Items</key>
		<array>
			<dict>
				<key>Identifier</key>
				<string>MeEmploymentCell</string>
				<key>Date1</key>
				<string>12/2014</string>
				<key>Date2</key>
				<string>Now</string>
				<key>Company</key>
				<string>erento GmbH</string>
				<key>Position</key>
				<string>Lead mobile developer</string>
			</dict>
			<dict>
				<key>Identifier</key>
				<string>MeEmploymentCell</string>
				<key>Date1</key>
				<string>02/2012</string>
				<key>Date2</key>
				<string>08/2011</string>
				<key>Company</key>
				<string>Renderspace d.o.o.</string>
				<key>Position</key>
				<string>Web developer</string>
			</dict>
		</array>
		<key>Title</key>
		<string>Employment History</string>
	</dict>
</array>
</plist>
